.gitignore
.ssh
deepgif/*
frames/*
*.mp4
*.gif
**/*.gif
**/*.mp4
gin-bin
tensorflow/
work/
src/
.cache/
.config/
.keras/
.local/
!video/.gitkeep 
!frames/.gitkeep 
!audio/.gitkeep
dreamlycc
audio/**
!audio/.gitkeep
logrus**
vendor/**
tensorflow_gpu-0.12.0rc1-py3-none-any.whl
model/**
folder_cpu
ffmpeg
ffprobe 
dist/*
folder
bind
todo.txt
neural-style/**
fast-style-transfer
.DS_Store
.DS_Store?
bind.code-workspace
