<html>
    <head></head>
    <body>
        <iframe class="frame" src="https://docs.google.com/forms/d/e/1FAIpQLSep5wUjhY04iV_Dzstp7H5SIt8MBl7v6yOeT8m3CbMXK4Wgig/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        <style>body {
                margin: 0;
                padding: 0;
              }
              
              .frame {
                display: block;
                width: 100vw;
                height: 100vh;
                max-width: 100%;
                margin: 0;
                padding: 0;
                border: 0 none;
                box-sizing: border-box;
              }</style>
    </body>
</html>