<html>
    <head>
        <body>
            
donations are accepted: 

<div>
    <div>
        daily dreamly goal 
        Only send Bitcoin (BTC) to this address
        Sending any other digital asset, including Bitcoin Cash and USDT, will result in permanent loss.
        bitcoin address: <span style="border:2px solid #ddd" id="btc">12M2ubH3iAHaws41R4TrsD7qFYEdqUS13F</span>
    </div>
</div>

<div>    
    Only send Ether (ETH) to this address
    Sending any other digital asset, including ETC, will result in permanent loss.
    <div></div>
    
    etherium address:<span id="eth">0x876b28d1aB248A9E05D7a2ef904095987c83E516 </span>
</div>

<div>
        litecoin address: <span id="ltc">LaUcx1kgPHo29dpyS3cs5KpipxQ2qUtZKt</span>
</div>

<style>

</style>
</body>
</head>
</html>
